@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.AtlasAccordion{
	padding: 15px;
	color: #fff;
	font-size: 20px;
	background: #2073c8;
	position: relative;

}
.AtlasAccordion::before{/* 閉じている時 */
	content: "－";
	position: absolute;
	right: 20px;
}
.AtlasAccordion.is-active::before{/* 開いている時 */
	content: "＋";
}

.AtlasAccordion-ul {
    display: none;
}
.AtlasAccordion-ul.is-active{
    display: block;
}

/* index.blade.php */
/* モーダルウィンドウ */
/* 開くボタン */
.button-open {
	display: block;
	margin: 0 auto;
	width: 20rem;
	padding: 1em;
	background-color: #3140c9;
	color: #eaeaea;
	border-radius: 20rem;
	cursor: pointer;
  }

  /* モーダルウィンドウ */
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

